body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  button {
    background-color: #036b13;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #068a37;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #88a9c1;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }